@import url('https://fonts.googleapis.com/css?family=Limelight&display=swap');

body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  background-color: rgb(160, 66, 32);
}


#photo {
  height: 45vh;
  width: 43vh;
  margin: 10vh 0 4vh 12vh;
  border-color: rgb(8,13,56);
  border-style: solid;
  transform: skewY(-2deg);
}

#description {
  border-color: rgb(8, 13,56);
  border: solid;
  background-color: white;
  text-align: center;
  display: inline-block;
  height: 13vmax;
  color: rgb(8, 13,56);
  overflow: overlay;
  padding: 2vmax 1vmax 1vmax 1vmax;
  transform: skewY(-2deg);
  font-family: 'Limelight';
}

#title-div {
  float: right;
  margin-right: 65vmin;
  transform: skewY(-2deg);
}

.title {
  background: rgb(8, 13,56);
  color: white;
  transform: skewY(-2deg);
  font-family: 'Limelight';
}

#name {
  padding: 4vmin;
  letter-spacing: 0.1em;
}

#sub-title {
  padding: 2vmin 0vmin 2vmin 0vmin;
  text-align: center;
}

#complete-container {
  height: 100%;
  width: 100%;
  display: flex;
}

#projects {
  margin-top: 5vmin;
}

.project-inner-div {
  background-color: rgb(65, 126, 123);
  color: white;
  padding: 10vmin;
  height: 40vmin;
  font-family: 'Limelight';
}

.project-inner-div > div {
  display: inline-block;
}

.project-inner-div > iframe {
  display: inline-block;
  float: right;
  background-color: white;
  border: solid;
  border-color: rgb(65, 126, 123);
  border-width: thick;
}

@media (max-width: 1200px) {
  .project-inner-div {
    height: 90vmin;
    align-items: center;
  }
  .project-inner-div > div {
    vertical-align: top;
    display: grid;
  }
  .project-inner-div > iframe {
    display: grid;
    position: absolute;
    float: right;
  }
}

@media (max-width: 1000px),  (max-height: 400px) {
  #header {
    display:inline-grid;
  }
  .title {
    transform: none;
    text-align: center;
  }
  #sub-title {
    margin: 0;
  }
  #name{
    margin: 0;
  }
  #title-div {
    width: 100%;
    transform: none;
  }
  #description {
    transform: none;
    height: calc(90vh - 40vw);
  }
}

@media (orientation: portrait) {
  #description {
    height: calc(90vh - 55vw);
  }
}

@media (max-width: 680px) {
  .project-inner-div {
    margin-right: 3vw;
  }
  .project-inner-div > iframe {
    padding-left: 50px;
    float:left;
    display: grid;
    width: 320px;
    height: 197px;
  }
}

@media (max-height: 1000px) {
  .project-inner-div > iframe {
    padding-left: 50px;
    float:right;
    display: grid;
    width: 300px;
    height: 177px;
  }
}
