@import url('https://fonts.googleapis.com/css?family=Limelight&display=swap');

body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  background-color: #1a1a1a;
}

h5 > a {
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  background-color: rgb(8, 13,56);
  padding: 4px;
  text-decoration: none;
}

a:hover {
  background-color: #1a1a1a;
  color: rgb(8, 13,56);
}

#sub-title > a {
  color: rgb(175, 214, 159);
  text-shadow: 1px 1px black;
  transition: color 1s, font-size 1s;
}

#sub-title > a:hover {
  background-color: white;
  color: rgb(231, 79, 93);
  font-size: 1.5em;
}

.title.other {
  background-color: white;
  border: solid #E8BC66;
}


#photo {
  height: 45vh;
  width: 43vh;
  margin: 10vh 0 4vh 12vh;
  border: solid #E8BC66;
  transform: skewY(-2deg);
}




#description {
  border: solid #E8BC66;
  background-color: white;
  text-align: center;
  display: inline-block;
  height: 13vmax;
  color: rgb(8, 13,56);
  overflow: overlay;
  padding: 2vmax 1vmax 1vmax 1vmax;
  transform: skewY(-2deg);
  font-family: 'Limelight';
}

#title-div {
  float: right;
  margin-right: 65vmin;
  transform: skewY(-2deg);
}

.title {
  background: #ffffff;
  border: solid #E8BC66;
  text-shadow: 2px 0px #E8BC66;
  transform: skewY(-2deg);
  font-family: 'Limelight';
}

#name {
  padding: 4vmin;
  letter-spacing: 0.1em;
}

#sub-title {
  padding: 2vmin 0vmin 2vmin 0vmin;
  text-align: center;
}

#complete-container {
  height: 100%;
  width: 100%;
  display: flex;
}

#projects-top-border {
  float: right;
  margin-top: 5vmin;
  height: 10px;
  background-color: rgb(175, 214, 159);
  width: 0;
  margin-left: 35px;
  transition: all 1s;
}

#projects-and-left {
  display: inline-flex;
}

#projects-left-border {
  width: 15px;
  height: 0;
  margin-left: 35px;
  background-color: rgb(175, 214, 159);
  transition-delay: 10s;
  transition: all 1s;
}

#projects {
  margin-top: 7vmin;
}


.iframe-container {
  height: 150vmin;
  margin-bottom: -10vmin;
  margin-top: -10vmin;
  margin-right: -74vmin;
}

#iframe {
  background-color: #1a1a1a;
  height: 46%;
  width: 40%;
  margin-left: 5px;
}

.project-inner-div {
  background-color: #1a1a1a;
  color: white;
  padding: 10vmin;
  margin: 1em;
  height: 46vmin;
  overflow: hidden;
  font-family: 'Limelight';
}

.links {
  display: flex;
  margin-top: -30px;
  margin-bottom: -30px;
}

.project-inner-div > iframe {
  background-color: black;
}

.project-description {
  width: 50%;
  float: left;
  margin-top: -3em;
  display: inline-block;
}

.recommendation-div {
  background-color: white;
  font-family: 'Limelight';
  padding: 3em;
  border-radius: 10px;
  border: solid;
}

.recommendation-div > ul {
  column-count: 3;
}

#recommendation-input {
  border-radius: 5px;
  border: solid;
}

button {
  font-family: 'Limelight';
  border: solid;
  border-radius: 5px;
  outline: none;
}

button:active {
  color: white;
  background-color: black;
}

.project-inner-div > iframe {
  display: inline-block;
  float: right;
  background-color: white;
  border: solid;
  border-color: rgb(65, 126, 123);
  border-width: thick;
}

@media (max-width: 1200px) {
  .project-inner-div {
    height: 90vmin;
    align-items: center;
  }
  .project-description {
    margin-top: auto;
    vertical-align: top;
    display: grid;
  }
  .project-inner-div > iframe {
    display: grid;
    position: absolute;
    float: right;
  }
}

@media (max-width: 1000px),  (max-height: 400px) {
  #header {
    display:inline-grid;
  }
  .title {
    transform: none;
    text-align: center;
  }
  #sub-title {
    margin: 0;
  }
  #name{
    margin: 0;
  }
  #title-div {
    width: 100%;
    transform: none;
  }
  #description {
    transform: none;
  }
  #photo {
    transform: none;
  }
}


@media (orientation: landscape) and (max-width: 700px) {
  #description {
    height: calc(90vw - 60vh);
    padding: 0px;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  #description {
    height: calc(30em - 30vw);
  }
}

@media (max-width: 680px) {
  .project-inner-div {
    margin-right: 3vw;
  }
  .project-inner-div > iframe {
    padding-left: 50px;
    float:left;
    display: grid;
    width: 320px;
    height: 197px;
  }
}

@media (max-width: 75em), (max-height: 35em) {
  .project-inner-div {
    display: grid;
    height: auto;
  }
  .project-inner-div < h2 {
    text-align: center;
  }
  .project-description {
    margin-top: 10px;
    width: auto;
  }
  .iframe-container {
    margin-top: auto;
    margin-bottom: -580px;
    width: 250%;
    margin-right: -20%;
    margin-left: 1%;
  }
  .iframe-container < iframe {
    margin-right: 25%;
  }
}

@media (orientation: portrait) {
  #description {
    height: calc(70vh - 25vw);
  }
  .iframe-container {
    width: 320%;
    float: left;
    margin-right: 0px;
    margin-left: -55px;
  }
}

@media (max-height: 500px){
  .project-inner-div {
    height: 760px;
  }
  .iframe-container {
    margin-top: -52vh;
  }
}

@media (max-height: 500px) and (min-width: 770px){
  .project-inner-div {
    height: 690px;
  }
  .iframe-container {
    margin-top: -1vh;
    height: 300vmin;
  }
}
